a:link {
	/*text-decoration: underline;*/
	color: #F2672B;
}
a:visited { color: #F2672B; }
a:hover { color: #F2EFDC; }
a:active { color: #F2672B; }

body {
	background: #404040;
	font-family: Lato, arial;
	font-size: 200%;
	color: #F2672B;
}

h1, h2, h3 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
}

h1 {
	padding: 0%;
	color: #F2EFDC;
	font-size: 220%;
}

h2 {
	color: #F2EFDC;
	font-size: 140%;
}

h3 {
	margin: 0;
	color: #F2672B;
}

button {
	margin-left: 2px;
	margin-right: 2px;
}

.layout {
	padding: 3%;
	margin-top: 50px;
}

.nav {
	text-align: left;
	margin: 0;
	padding: 0;
}
